.JAKitControls\.DSSharePointDataCard .customContainer{
    text-align: left;
}
.JAKitControls\.DSSharePointDataCard .customDocumentCard{
    display: inline-block;
    margin: 10px;
    width: 320px;
}
.JAKitControls\.DSSharePointDataCard .customBody{
    display: block;
}