.JAKitControls.ExchangeRateControl *{
    box-sizing: border-box !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.customButtonClose{
    position: fixed;
    top: 40px;
    right: 30px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 0px;
    outline:0; 
    background: #9E9E9E;
    color: #FFF;
}
.JAKitControls\.ExchangeRateControl .hidden{
    display: none !important;
}
.JAKitControls\.ExchangeRateControl .customLabelCurrency{
    display: inline-block;
    vertical-align: top;
    border: 1px solid #3d3d3d;
    border-right: none;
    font-size: 16px;
    background-color: #f0f0f0;
    line-height: 34px;
    padding: 0 6px;
    height: 34px;
    border-radius: 0px;
}
.JAKitControls\.ExchangeRateControl .customErrorLabel{
    display: block;
    vertical-align: top;
    margin-top: 20px;
    border: 1px solid #3d3d3d;
    background: #d8094f;
    color: white;
    line-height: 34px;
    padding: 0 6px;
    height: 34px;
    border-radius: 0px;
}
.exchangeButton{
    background-image: url('icon.png');
    background-size: 34px;
    background-position: center;
    background-repeat: no-repeat;
    height: 34px;
    width: 50px;
    outline:0; 
    border: none;
    vertical-align: top;
    display: inline-block;
    line-height: 34px;
    margin-left: 5px;
}


.JAKitControls.ExchangeRateControl .customInputRate{
    border: 1px solid #3d3d3d; 
    outline:0; 
    height:34px; 
    padding-left:5px;
    box-sizing: border-box;
    font-size: 16px
}

.customPopContainer{
    padding-right: 15px;
}
.custom-table tbody tr:hover{
    background: #9e9e9e9c;
    
}
.custom-table thead tr{
    background: #3d3d3d;
    color: #FFF
}
.custom-table{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    border-collapse: collapse;
    
}
.custom-table tr td,.custom-table tr th{
    padding: .75rem;

}
.custom-table tbody tr td{
    border-bottom: 2px solid #dee2e6;
    border-top: 1px solid #dee2e6
}
.custom-table tr.select{
    background: #9e9e9e9c;
}